{% extends '::dashboard.html.twig' %}

{% block title %}Change Password Page{% endblock %}
{% block css %}<link href="{{ asset('css/user.css') }}" rel="stylesheet"> {% endblock %}

{% block body %}
    <div class="container">
         <h3 class="panel-title">Change Password</h3>
      {%if error %}
      <div class="alert alert-success">
         {{error}}
      </div>
      {%endif%}
      {{ form(form, {'attr': {'novalidate': 'novalidate' , 'id' : 'formChangePass'}}) }}
      <a href="{{path('login')}}">Back to Login Page</a>
    </div>
{% endblock %}
